.project-post {
    text-align: center;
    justify-content: space-between;
    font-family: "DM Sans", serif;
    margin: 40px auto;
    max-width: 80%;

    background-color: var(--cg-light-mint);
    border: 5px solid var(--cg-hint-of-mint);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-link {
    margin: 0 auto;
    font-size: 32px;
    color: darkgreen;
    text-decoration: none;
    
}

.project-body {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
padding: 20px;
margin: 20px;
}

.project-body > a > img {
max-height: 400px;
max-width: 800px;
margin: 10px;
border-radius: 20px;
}

.project-content {
font-size: 24px;
}